* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Audiowide', cursive;
}

body {
  background-image: url("../images/simple-bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(238, 238, 238);
}

.header {
  text-align: center;
  border-bottom: solid 5px white;
}

.header h1 {
  font-size: 44px;
  font-weight: 750;
}

.header span {
  color:rgba(161, 161, 161, 0.863)
}

.body-container {
  display: flex;
  flex-direction: row;
}

.left-container, .right-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 0 20px;
}

.right-container {
  margin-top: 30px;
}

.right-container .main-container {
  height: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-container .main-container h2 {
  margin-top: 0;
}

.intro h2 {
  padding-bottom: 5px;
  font-size: 28px;
  text-align: center;
}

.previous-intro h2 {
  font-size: 20px;
  padding: 0px 5px;
  text-align: center;
}

.main-container, .previous-song-container {
  display: flex;
  text-align: center;
  width: 90%;
  align-items: center;
  border-radius: 40px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.274);
  padding: 10px 30px;

}

.main-container {
  height: 375px;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.308);
}

.submitbtn {
  padding: 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  flex: 1;
  font-family: 'Audiowide', cursive;
  background: transparent;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.548);
  border-radius: 20px;
}

.drop-container label {
  font-size: 20px;
  margin-top: 0;
  padding-top: 0;
  color: rgb(238, 238, 238);
}

.dropdown {
  background-color: white;
  margin-top: 10px;
}

.song-info {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 2;
  width: 100%;
  border: rgba(255, 255, 255, 0.493) 2px solid;
  border-radius: 20px;
  margin: 15px 0;
}

.song-title {
  font-size: 22px;
}

.submitbtn:hover {
  background-color: rgba(255, 255, 255, 0.521);
  color: black;
  transition: .5s;
}

.previous-song-container {
  margin-top: 5px;
  border-radius: 15px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.171);
  justify-content: space-between;
}

.previous-song-info {
  flex: 3;
}

.previous-song-info div {
  display: flex;
  justify-content: flex-start;
}

/* Dropdown list color */
.dropdown-content li > a, .dropdown-content li > span {
  color: #000000 !important;
  text-align: center;
}

/* lyrics container */
.lyrics-container{
  overflow: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #423f3f; 
}

/* Spotify web player */
#music-player {
  height: 60px;
}

#cover-spin {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(255,255,255,0.7);
  z-index:9999;
  display:none;
}

@-webkit-keyframes spin {
from {-webkit-transform:rotate(0deg);}
to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
from {transform:rotate(0deg);}
to {transform:rotate(360deg);}
}

#cover-spin::after {
  content:'';
  display:block;
  position:absolute;
  left:48%;top:40%;
  width:40px;height:40px;
  border-style:solid;
  border-color:black;
  border-top-color:transparent;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}

/* .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid black;
  border-radius: 5px;
  z-index: 9999;
  background-color: white;
  width: 500px;
  max-width: 80%;
  transition: 200ms ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .close-button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal p {
  padding: 10px 15px;
}

#modal-overlay {
  position: fixed;
  width: 100%;
  transition: 200ms ease-in-out;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(255,255,255,0.7);
  opacity: 0;
  pointer-events: none;
}

#modal-overlay.active {
  opacity: 1;
  pointer-events: all;
} */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .body-container {
    flex-direction: column;
  }

  .left-container, .right-container {
    width: 100%;
  }

  .right-container {
    margin-bottom: 20px;
  }


}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  .main-container {
    width: 100%;
    padding: 20px 10px;
    height: 400px;
  }

  .dropdown {
    margin: 0;
  }

  .previous-song-container {
    margin-bottom: 20px;
  }

  .submitbtn {
    width: 50%;
    padding: 0;
  }

  .right-container {
    display: none;
  }

  #music-player {
    height: 60px;
    width: 225px;
  }

}

.modal .modal-content {
  background-color:rgba(161, 161, 161, 0.863)
}

.modal .modal-footer {
  background-color:rgba(161, 161, 161, 0.863)
}

.btn, .btn-large, .btn-small {
  background-color: rgba(0, 0, 0, 0.548);
  background: transparent
}