body{
    background-color: #000000;
    color: white;
}
.mainBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
.jumbotron {
    background-color: transparent;
    border-bottom: 10px solid #1DB954; 
  }

/* Title styling */
.freshFinds{
      color:#1DB954;
  }

/* Button Styling */
button{
    font-size: 25px;
    padding: 10 12px;
    background-color:#1DB954;
    color: white;
    border-radius: 5px;
    max-height: 54px;
    border-radius: 5px;
    border:#1DB954 ;
    overflow: hidden;
    cursor: pointer;
  }

  button:hover{
      background:#15853c ;
  }